<article class="player" itemscope itemtype="http://schema.org/Person">
  <a href="<%= url(player[:id]) %>" itemprop="url">
    <img class="avatar" src="<%= player[:image] %>" width="128" height="128" itemprop="image" />
    <span itemprop="name"><%= player[:name] %></span>
  </a>
</article>
